<div class="mat-elevation-z8">
<mat-tab-group
  class="custom-tab-group"
  [(selectedIndex)]="selectedTabIndex"
  (selectedIndexChange)="onTabChange($event)"
>
  <mat-tab label="Active Data Rooms"></mat-tab>
  <mat-tab label="Expired Data Rooms"></mat-tab>
  <!-- <mat-tab label="Audit Log"></mat-tab> -->
</mat-tab-group>


  <div class="tab-content">
    <ng-container *ngIf="selectedTabIndex === 0">
      <app-active></app-active>
    </ng-container>

    <ng-container *ngIf="selectedTabIndex === 1">
      <app-expired></app-expired>
    </ng-container>

    <!-- <ng-container *ngIf="selectedTabIndex === 2">
      <app-audit-log></app-audit-log>
    </ng-container> -->
  </div>
</div>
