<div class="sidebar" [class.collapsed]="collapsed">
  <!-- <div class="sidebar-header">
    <h2 *ngIf="!collapsed">Data Room </h2>
  </div> -->

  <button class="hamburger" (click)="onToggle()">
    <i class="fas fa-bars"></i>
  </button>

  <ul class="sidebar-menu">
    <li class="active">
      <i class="fas fa-tachometer-alt"></i>
      <span *ngIf="!collapsed">Dashboard</span>
    </li>
    <li>
      <i class="fas fa-bell"></i>
      <span *ngIf="!collapsed">Notifications</span>
    </li>
    <li>
      <i class="fas fa-user"></i>
      <span *ngIf="!collapsed">Profile</span>
    </li>
    <li>
      <i class="fas fa-question-circle"></i>
      <span *ngIf="!collapsed">Help</span>
    </li>
    <li (click)="onLogout()">
      <i class="fas fa-sign-out-alt" ></i>
      <span *ngIf="!collapsed" >Logout</span>
    </li>
  </ul>
</div>
