
<aside class="app-sidebar" [class.collapsed]="collapsed">


            <div class="sidebar-menu">
                <a href="#" class="menu-item active">
                    <i class="fas fa-dashboard"></i>
                    <span *ngIf="!collapsed">Dashboard</span>
                </a>
                <a href="#" class="menu-item">
                    <i class="fas fa-folder-open"></i>
                    <span *ngIf="!collapsed">  Active Data Rooms</span>
                </a>
                <a href="#" class="menu-item">
                    <i class="fas fa-file-alt"></i>
                    <span *ngIf="!collapsed">Reports</span>
                </a>
                <a href="#" class="menu-item">
                    <i class="fas fa-cog"></i>
                    <span *ngIf="!collapsed">Configuration</span>
                </a>
                <a class="menu-item"  (click)="onLogout()">
                    <i class="fas fa-sign-out-alt"></i>
                    <span *ngIf="!collapsed">Logout</span>
                </a>


                   <!-- <li (click)="onLogout()">
      <i class="fas fa-sign-out-alt" ></i>
      <span *ngIf="!collapsed" >Logout</span>
    </li> -->

            </div>

</aside>

