<header class="app-header">
<!-- Logo and Toggle -->
<div class="left-section">
<img class="logo-img" src="assets/images/logo/logo-new.svg" alt="Nexa" />
<button class="menu-toggle" (click)="onToggle()" aria-label="Toggle Sidebar">
      ☰
</button>
</div>
 
 
<!-- <div class="center-section">
<div class="search-box">
<input type="text" placeholder="Search..." />
<span class="search-icon">🔍</span>
</div>
</div> -->
 
  <!-- Profile -->
<div class="right-section">
<img class="profile-img" src="assets/images/logo/img.webp" alt="Profile" />
<div class="profile-info">
<div class="name">John Doe</div>
<div class="role">Admin</div>
</div>
</div>
</header>

 
            
<!-- <div class="header">
  <div>

    <h1 class="m-0">My Data Rooms</h1>

  </div>


  <div *ngIf="userDetails$ | async as userDetails" class="text-end" style="float:end">
    <span >
      Welcome, <strong>{{ userDetails.user.name }}</strong>
      <span *ngIf="userDetails.user.isExternal">(External)</span>
    </span>
    <span class="badge text-white" [ngStyle]="{
        'background-color': userDetails.user.isExternal ? '#9b59b6' : '#3498db'
      }">
      {{ userDetails.user.isExternal ? 'External User' : 'Internal User' }}
    </span>
  </div>
</div> -->


