<!-- <div class="row">
  <div class="col-left">
    <app-commonheader [dataRoom]="dataRoom" style="cursor: pointer;"></app-commonheader>

    <div class="expires-info">
      <mat-icon class="calendar-icon">calendar_today</mat-icon>
      Expires: {{ this.dataRoom?.expirationDate | date:'MMMM d, y' }}
    </div>
  </div>
</div>
  <div class="data-room-actions pr10" *ngIf="selectedTabIndex === 0">
  <button class="btn btn-success btn-sm top-node"
          (click)="openUploadModal()"
          [disabled]="!canAddDocuments">
    <i class="las la-plus"></i> Add Document
  </button>
</div> -->

<!-- <mat-tab-group [(selectedIndex)]="selectedTabIndex" >
  <mat-tab label="Files in this Data Room" class="custom-tab">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="files?.length">

     
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let file"> {{ file.document.name }} </td>
      </ng-container>

    
      <ng-container matColumnDef="size">
        <th mat-header-cell *matHeaderCellDef> Size </th>
        <td mat-cell *matCellDef="let file"> {{ formatFileSize(file.document.documentSize) }} </td>
      </ng-container>

      <ng-container matColumnDef="docType">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let file"> {{ file.document.docType }} </td>
      </ng-container>

    
      <ng-container matColumnDef="permission">
        <th mat-header-cell *matHeaderCellDef> Permission </th>
        <td mat-cell *matCellDef="let file"> {{ file.documentPermission }} </td>
      </ng-container>

   <ng-container matColumnDef="actions">
  <th mat-header-cell *matHeaderCellDef> Actions </th>
  <td mat-cell *matCellDef="let file">
    <ng-container *ngIf="file.permissionFlags as perms">
      
      <button mat-icon-button matTooltip="Download"
              (click)="downloadDocument(file.document)"
              [disabled]="!perms.canDownload">
        <mat-icon>download</mat-icon>
      </button>

      <button mat-icon-button matTooltip="Edit"
              (click)="editFile(file)"
              [disabled]="!perms.canEdit">
        <mat-icon>edit</mat-icon>
      </button>

      <button mat-icon-button color="warn" matTooltip="Delete"
              (click)="deleteFile(file)"
              [disabled]="!perms.canDelete">
        <mat-icon>delete</mat-icon>
      </button>

      <button mat-icon-button matTooltip="View"
              (click)="viewFile(file)"
              [disabled]="!perms.canView">
        <mat-icon>visibility</mat-icon>
      </button>

    </ng-container>
  </td>
</ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </mat-tab>

  <mat-tab label="Audit Log" class="custom-tab">
   <a>helo</a>
  </mat-tab>
</mat-tab-group> -->



<main class="app-content">

  <div class="mat-elevation-z8 pad_0">
   
    <div class="data-room-header d-flex justify-between align-center pad_10">
      <!-- Left: Title + Expiry -->
      <div class="d-flex align-center gap-3">
        <app-commonheader [dataRoom]="dataRoom" style="cursor: pointer;"></app-commonheader>
    
        <div class="expires-info d-flex align-center gap-1">
          <mat-icon class="calendar-icon small">calendar_today</mat-icon>
          <span class="expire-label">{{ 'DATA_ROOM_DETAILS.EXPIRES' | translate }}</span>
          <span class="expire-date">{{ dataRoom?.expirationDate | date: 'MMMM d, y' }}</span>
        </div>
   <div class="search-container" [class.expanded]="searchExpanded">
        <button mat-icon-button class="search-toggle" (click)="toggleSearch()" title="Search">
          <mat-icon style="color: #3949ab;">search</mat-icon>
        </button>

        <div class="search-wrapper" *ngIf="searchExpanded">
          <input
            [(ngModel)]="searchTerm"
            (input)="applySearchToAllTabs()"
            placeholder="Search..."
            class="search-input"
            type="text"
          />
          <button mat-icon-button class="close-iconn" (click)="clearSearch(); toggleSearch()">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
      </div>
    
      <!-- Right: Add Document button (tabIndex check) -->
      <!-- <div class="data-room-actions" *ngIf="selectedTabIndex === 0">
        <button class="btn btn-success btn-sm" (click)="openUploadModal()" 
       
       
        > -->
         <!-- [disabled]="!canAddDocuments" -->
          <!-- <i class="las la-plus"></i> Add Document
        </button> -->



      <!-- </div> -->

            <div class="data-room-actions" *ngIf="selectedTabIndex === 0">
        <button class="btn btn-success btn-sm" (click)="openUploadModal()">
          <i class="las la-plus"></i> {{ 'DATA_ROOM_DETAILS.ADD_DOCUMENT' | translate }}
        </button>
      </div>
    </div>

   
    <div class="section-box">
    
     

    <ul class="nav nav-tabs custom-nav-tabs heads mt-3" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="pending-tab" data-bs-toggle="tab" data-bs-target="#pending" type="button"
            role="tab">
            {{ 'DATA_ROOM_DETAILS.FILES_IN_THIS_DATA_ROOM' | translate }}
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="history-tab" data-bs-toggle="tab" data-bs-target="#history" type="button" role="tab">
            {{ 'DATA_ROOM_DETAILS.AUDIT_LOG' | translate }}
          </button>
        </li>
      </ul>
 
      <div class="tab-content custom-tab-content mt-2" id="approvalTabsContent">

  <!-- My Pending Approvals Tab -->
  <div class="tab-pane fade show active" id="pending" role="tabpanel" aria-labelledby="pending-tab">
    <div class="table-container table-container-approval-transaction">
      <table mat-table [dataSource]="filteredDataRooms" class="table" *ngIf="files?.length">
    
    
        <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>{{ 'DATA_ROOM_DETAILS.NAME' | translate }}</th>
      <td mat-cell *matCellDef="let file">
        <ng-container *ngIf="getFileExtension(file.document.url) as extension">
          <span *ngIf="extension === 'pdf'">
            <img src="assets/images/login_banner/pdf.png" alt="PDF" width="20px" [title]="'DATA_ROOM_DETAILS.PDF' | translate" />
          </span>
          <span *ngIf="extension === 'doc' || extension === 'docx'">
            <img src="assets/images/svg/word.svg" alt="Word" width="20px" [title]="'DATA_ROOM_DETAILS.DOC' | translate" />
          </span>
          <span *ngIf="extension === 'xls' || extension === 'xlsx'">
            <img src="assets/images/svg/excel.svg" alt="Excel" width="20px" [title]="'DATA_ROOM_DETAILS.EXCEL' | translate" />
          </span>
          <span *ngIf="extension === 'ppt' || extension === 'pptx'">
            <img src="assets/images/svg/ppt.svg" alt="PPT" width="20px" [title]="'DATA_ROOM_DETAILS.PPT' | translate" />
          </span>
          <span *ngIf="extension === 'csv' || extension === 'txt'">
            <img src="assets/images/svg/text-2.svg" alt="Text" width="20px" [title]="'DATA_ROOM_DETAILS.TEXT' | translate" />
          </span>
        </ng-container>
        <span *ngIf="isAudioFile(file.document.url)">
          <img src="assets/images/svg/mp3.svg" alt="Audio" width="20px" [title]="'DATA_ROOM_DETAILS.AUDIO' | translate" />
        </span>
        <span *ngIf="isVideoFile(file.document.url)">
          <img src="assets/images/svg/mp4.svg" alt="Video" width="20px" [title]="'DATA_ROOM_DETAILS.VIDEO' | translate" />
        </span>
        <span *ngIf="isImageFile(file.document.url)">
          <img src="assets/images/login_banner/img.png" alt="Image" width="20px" [title]="'DATA_ROOM_DETAILS.IMAGE' | translate" />
        </span>
        <span class="truncate-data p-2 pointer-hover" [title]="file.document.name">
          {{ file.document.name | slice:0:15 }}{{ file.document.name.length > 8 ? '...' : '' }}
        </span>
      </td>
    </ng-container>
    
    
      <ng-container matColumnDef="size">
  <th mat-header-cell *matHeaderCellDef>{{ 'DATA_ROOM_DETAILS.SIZE' | translate }}</th>
  <td mat-cell *matCellDef="let file"> {{ formatFileSize(file.document.documentSize) }} </td>
</ng-container>

<ng-container matColumnDef="docType">
  <th mat-header-cell *matHeaderCellDef>{{ 'DATA_ROOM_DETAILS.TYPE' | translate }}</th>
  <td mat-cell *matCellDef="let file"> {{ file.document.docType }} </td>
</ng-container>

<ng-container matColumnDef="permission">
  <th mat-header-cell *matHeaderCellDef>{{ 'DATA_ROOM_DETAILS.PERMISSION' | translate }}</th>
  <td mat-cell *matCellDef="let file"> {{ file.documentPermission }} </td>
</ng-container>

<ng-container matColumnDef="createdDate">
  <th mat-header-cell *matHeaderCellDef>{{ 'DATA_ROOM_DETAILS.CREATED_DATE' | translate }}</th>
  <td mat-cell *matCellDef="let file"> {{ file.document.createdDate |  date:'MMMM dd, y' }} </td>
</ng-container>

<ng-container matColumnDef="actions">
  <th mat-header-cell *matHeaderCellDef>{{ 'DATA_ROOM_DETAILS.ACTIONS' | translate }}</th>
  <td mat-cell *matCellDef="let file">
    <ng-container *ngIf="file.permissionFlags as perms">
      <button mat-icon-button matTooltip="{{ 'DATA_ROOM_DETAILS.DOWNLOAD' | translate }}" 
      [disabled]="!perms.canDownload"
    
      (click)="downloadDocument(file.document)">
        
        <mat-icon class="download-icon">download</mat-icon>
      </button>
      <button mat-icon-button matTooltip="{{ 'DATA_ROOM_DETAILS.EDIT' | translate }}" [disabled]="!perms.canEdit" (click)="editFile(file)">
        <mat-icon class="edit-icon">edit</mat-icon>
      </button>
      <button mat-icon-button matTooltip="{{ 'DATA_ROOM_DETAILS.DELETE' | translate }}" [disabled]="!perms.canDelete" (click)="deleteFile(file)">
        <mat-icon class="delete-icon">delete</mat-icon>
      </button>
      <button mat-icon-button matTooltip="{{ 'DATA_ROOM_DETAILS.VIEW' | translate }}" [disabled]="!perms.canView" (click)="viewFile(file)">
        <mat-icon class="view-icon">visibility</mat-icon>
      </button>
    </ng-container>
  </td>
</ng-container>
    
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
      </table>


     
    </div>

  <mat-paginator
    [length]="filteredDataRooms.length"
    [pageSize]="pageSize"
    [pageSizeOptions]="[10, 20, 30]"
    showFirstLastButtons
    (page)="currentPage = $event.pageIndex; pageSize = $event.pageSize; updatePagedData()"
  >
  </mat-paginator>
  </div>

  <!-- My Approval History Tab -->
  <div class="tab-pane fade" id="history" role="tabpanel" aria-labelledby="history-tab">
  <div class="table-container">
       <table mat-table [dataSource]="pagedAuditLogs" matSort class="table">
            <!-- Data Room Name Column -->
            <ng-container matColumnDef="dataRoomName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Data Room</th>
              <td mat-cell *matCellDef="let log">{{ log.dataRoomName }}</td>
            </ng-container>
    
            <!-- Document Name Column -->
            <ng-container matColumnDef="documentName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>File Info</th>
              <td mat-cell *matCellDef="let log">{{ log.documentName }}</td>
            </ng-container>
    
            <!-- User Name Column -->
            <ng-container matColumnDef="UserName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>User Name</th>
              <td mat-cell *matCellDef="let log">{{ log.UserName }}</td>
            </ng-container>
    
            <!-- Action Name Column -->
            <ng-container matColumnDef="actionName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
              <td mat-cell *matCellDef="let log">{{ log.actionName }}</td>
            </ng-container>
    
            <!-- Created By Column -->
            <ng-container matColumnDef="actionBy">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Action By</th>
              <td mat-cell *matCellDef="let log">{{ log.actionBy }}</td>
            </ng-container>
    
            <!-- Created Date Column -->
            <ng-container matColumnDef="actionDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Created Date</th>
              <td mat-cell *matCellDef="let log">{{ log.actionDate | date:'MMMM dd, y' }}</td>
            </ng-container>
    
            <!-- Header and Row Definitions -->
            <tr mat-header-row *matHeaderRowDef="auditDisplayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: auditDisplayedColumns;"></tr>
          </table>
    
  </div>

  <mat-paginator
    [length]="filteredAuditLogs.length"
    [pageSize]="pageSize"
    [pageSizeOptions]="[10, 20, 30]"
    showFirstLastButtons
    (page)="currentPage = $event.pageIndex; pageSize = $event.pageSize; updatePagedAuditLogs()"
  >
  </mat-paginator>
</div>
</div>
    
    
    
    





    </div>
  </div>
</main>



