/* filepath: c:\Users\Admin\Documents\GitHub\DMS-External-Link-Viewer\src\app\pages\dataroom-details\dataroom-details.component.scss */
.data-room-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 10px;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
}

.expires-info {
  font-size: 12px;
    color: #444;
    display: flex;
    align-items: baseline;
    margin-left: 5px;
}

span.breadcrumb-current{
    font-size: 12px !important;
    color: #626262;
}

.calendar-icon.small {
  font-size: 18px;
  color: #0d5cb9;
  vertical-align: middle;
}

.data-room-actions button {
  font-weight: 500;
  padding: 6px 12px;
  font-size: 0.9rem;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 5px;
}





button[mat-icon-button][disabled] .edit-icon,
button[mat-icon-button][disabled] .delete-icon,
button[mat-icon-button][disabled] .view-icon,
button[mat-icon-button][disabled] .download-icon {
  color: #9e9e9e !important;
}

button.btn[disabled] {
  background-color: #9e9e9e !important;
  border-color: #9e9e9e !important;
  color: #7a7a7a !important;
  cursor: not-allowed;
  pointer-events: none;
}
