<!-- <router-outlet></router-outlet>
<div class="loading" *ngIf="isLoading">
  <app-loader [isLoading]="isLoading"></app-loader>
 
</div>
<div class="error-message" *ngIf="errorMessage">
  <div>
    <img src="assets/warning.svg" alt="Warning" />
  </div>
  <div [innerHTML]="errorMessage"></div>
</div>
<div *ngIf="iframeSrc && !errorMessage">
  <iframe *ngIf="!(downloadHref?.endsWith('.mp4') || downloadHref?.endsWith('.mp3'))"
          [src]="iframeSrc" width="100%" height="600px" title="Document Preview"></iframe>


  <video *ngIf="downloadHref?.endsWith('.mp4')" [src]="iframeSrc" controls width="100%"></video>
  <audio *ngIf="downloadHref?.endsWith('.mp3')" [src]="iframeSrc" controls></audio>
</div> -->

<!-- <app-layout></app-layout> -->

<router-outlet></router-outlet>

